html {
  max-height: 100px;

  body {
    width: 450px;

    .main-container {
      padding: 5px !important;
    }

    .statistic-title {
      &.img {
        height: 15px;
      }

      &.text {
        line-height: 15px;
        vertical-align: top;
      }
    }

    #avatar-list {
      margin-top: 0;
    }
  }
}
